* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

header div {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 160px;
    margin-left: -45px;
}

h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 55px;
    margin-left: 25px;
    color: orange;
}

nav {
    background-color: #18ad0e;
}

nav div {
    width: 1200px;
    margin: 0 auto;
}

li {
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

.container {
    width: 1200px;
    margin: 20px auto;
}

.left-container {
    display: inline-block;
    width: 75%;
}

.main-left {
    margin: 20px 0;
}

.img-container {
    width: 35%;
}

.content-container {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    height: 100%;
}

.content-container h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
}

.content-container p {
    margin: 15px 0;
    font-size: 16px;
}

.content-container div {
    margin: 15px 0 0;
}

span {
    margin-right: 98px;
}

span:nth-child(3) {
    margin-right: 0;
}

.right-container {
    display: inline-block;
    width: 24%;
    vertical-align: top;
}

.img-ads {
    width: 100%;
}

.main-right:last-child .img-ads {
    height: 300px;
}